*{
 margin: 0;
 padding: 0
}

body{
 font-family: Arial, "Helvetica Condensed", Helvetica, sans-serif;
 color: #3a3b3a;
 background-color: #F4F4F4;
}

h1{
  letter-spacing: 1px;
  padding: 10px;
}

h2{
 letter-spacing: 0.5px;
 font-size: 19px;
 padding: 0 0 15px 10px;
 color: #E37222;
}

p{
 font-weight: bold;
 margin-bottom: 5px;
}

header{
 border-bottom: 2px solid #07889B;
 background-color: white;
}

#content {
  margin: 40px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #E37222;
  box-sizing: border-box;  
}

input[type=submit] {
  font-size: 14px;
  width: 100%;
  background-color: #07889B;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.text-block{
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
}