<!DOCTYPE html>
<head>
    <title>WebSockets</title>
</head>
<body>

    <div class="wrapper">
        <h1>Using socket.io</h1>
        <p>This page will update with socket.io</p>
    </div>

<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
<script>

    var socket = io();

</script>
    
</body>
</html>